.site {
    display: flexbox;
    display: grid;
    grid-template-columns: 2fr 3fr ;
    grid-template-rows:max-content;
    grid-template-areas: 
    "castle text"
    "castle text "
    ".  paragraph"
    ". arrow"
    ;
    
}
#castle {
    display: flex;
    grid-area: castle;
   
    margin-right: 50%;
    padding: 0%;
}
.text {
    display: flex;
    grid-area: text;
    
    flex-shrink: 2;
    font-family: 'Acme', sans-serif;
    font-size: 4rem;
    color: orange;
    padding: auto;
    margin-left: -160px;
    
}
#paragraph {
   
    grid-area: paragraph;
    font-size: 2rem;
    color: black;
    display: inline-flex;
    margin-left: -160;
    margin-top: -600px;
    margin-right: 20%;
}
.arrow {
    grid-area: arrow;
    margin-top: -200px;
}